BOT__TOKEN=
BOT__OWNER_ID=
BOT__CHANNEL_USERNAME=

XUI__HOST=
XUI__PORT=
XUI__PATH=
XUI__TOKEN=
XUI__SUBSCRIPTION_PORT=
XUI__SUBSCRIPTION_PATH=
XUI__SUBSCRIPTION_HOST=

PAYMENT__CARD_NUMBER=

DATABASE__NAME=
DATABASE__HOST=
DATABASE__PORT=
DATABASE__USERNAME=
DATABASE__PASSWORD=

REDIS__HOST=127.0.0.1
REDIS__PORT=6379

LOGGER__LEVEL=DEBUG
LOGGER__ENABLED=true